body{
    font-family: Arial, sans-serif;
    background-color: #f5efe5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{
    background-color: white;
    width: 60%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.recipe-img{
    width: 100%;
    border-radius: 10px;
}
p{
    font-weight: lighter;
}
.prep-time{
    background-color: #f3e8ff;
    padding: 20px;
    border-radius: 5px;
    margin: 15px 15px;
}
.h2{
    color: rgb(219, 109, 109);
}
/*main{
    background-color: white;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 50%;
    padding: auto;
    text-align: justify;
}*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
strong{
    margin-left: 10px;
}
h1{
    font-family: 'Times New Roman bold', Times, serif;
    font-weight: 50px;
    text-align: left;
}
h3{
    color: #5e3420;;
}
li::marker {
    color: #5e3420;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: none solid #ddd;
    text-align: center;
}
th, td{
    padding: 8px;
}
tr{
    border-bottom: 1px solid black;
}
td{
    color: #5e3420;
}